<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>778033737829-fp633lcvlps10mtar67ekol018gairkh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.778033737829-fp633lcvlps10mtar67ekol018gairkh</string>
	<key>API_KEY</key>
	<string>AIzaSyCofybxdZaUvDuwFsYhyWRdOcC6HXycFHs</string>
	<key>GCM_SENDER_ID</key>
	<string>778033737829</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kang-hua.wu818.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-27bf5</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-27bf5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:778033737829:ios:c733d1df33124e81</string>
	<key>DATABASE_URL</key>
	<string>https://flashchat-27bf5.firebaseio.com</string>
</dict>
</plist>